<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>

    <h2>Link Magic</h2>
    
    <p>You can scare your friend even more if you put additional info you know about the friend in URL that we can't detect!</p>

    <p>So this is base URL: cheburek.pythonanywhere.com</p>

    <p>You can add more parameters like cheburek.pythonanywhere.com/?d=aa</p>

    <p>First letter is the router brand, second monitor brand and so on...</p>

    <p>Here is a little URL generator you can use:</p>

    <div id="generator">
        <input type="text" placeholder="Router Brand"><br>
        <input type="text" placeholder="Monitor Brand"><br>
        <input type="text" placeholder="Phone Brand"><br>
        <input type="text" placeholder="Mouse Brand"><br>
        <input type="checkbox" placeholder="Has Instagram">
        <label>Your frined has instagram</label><br>
        <input type="checkbox" placeholder="Has Instagram">
        <label>Your frined has reddit</label><br>
        <input type="checkbox" placeholder="Has Instagram">
        <label>Your frined has discord</label><br>
        <input type="checkbox" placeholder="Has Instagram">
        <label>Your frined has twitter</label><br>

        <button id="gen">Generate!</button>

        <p id="output"></p>
    </div>
    
</body>
</html>